@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: hsl(236, 100%, 87%);
  font-optical-sizing: auto;
  background-color: hsl(226, 43%, 10%);
  font-size: 1rem;
}

.activity-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .activity-cards {
    grid-column: 2/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.activity-cards .activity__img {
  height: 2.9rem;
  margin-top: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}
.activity-cards .activity__details {
  background-color: hsl(235, 46%, 20%);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: -1rem;
  z-index: 2;
  position: relative;
  width: 100%;
}

/*Couleur de chaque arrière plan en fonction de la catégorie*/
.activity.work .activity__img {
  background-color: hsl(15, 100%, 70%);
}

.activity.play .activity__img {
  background-color: hsl(195, 74%, 62%);
}

.activity.study .activity__img {
  background-color: hsl(348, 100%, 68%);
}

.activity.exercise .activity__img {
  background-color: hsl(145, 58%, 55%);
}

.activity.social .activity__img {
  background-color: hsl(264, 64%, 52%);
}

.activity.self-care .activity__img {
  background-color: hsl(43, 84%, 65%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*style class user*/
.user {
  margin-top: 2rem;
  background-color: hsl(246, 80%, 60%);
  padding: 2rem;
  border-radius: 1rem;
  width: 70%;
  z-index: 2;
  /*Ecran a dessus de 1024px*/
}
.user__photo {
  width: 18%;
  height: 18%;
  border: 0.2rem solid hsl(236, 100%, 87%);
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}
.user__label {
  font-size: 0.8rem;
  color: rgba(188.7, 193.12, 255, 0.7);
}
.user__name {
  font-size: 4vw;
}
@media (min-width: 1024px) {
  .user {
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
    margin: 5rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .user__photo {
    width: 5rem;
    height: 5rem;
  }
  .user__label {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}

.timeframes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: hsl(235, 46%, 20%);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  width: 70%;
  margin-top: -1rem;
  z-index: 1;
}
.timeframes__button {
  background-color: hsl(235, 46%, 20%);
  border: none;
  cursor: pointer;
  width: 45%;
  color: rgba(188.7, 193.12, 255, 0.4);
  font-size: 3vw;
}
.timeframes__button:hover {
  color: hsl(236, 100%, 87%);
}
@media (min-width: 1024px) {
  .timeframes {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: -3rem 0 0 2rem;
  }
  .timeframes__button {
    align-self: flex-start;
    width: auto;
    font-size: 2vw;
  }
}

/*style class container*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 20rem repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
