@use "../base/variables" as *;

.activity-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;

  @media (min-width: 1024px) {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3.5rem;
    width: 90%;
  }

  .activity {
    margin-bottom: -2rem;
    &__img {
      overflow: hidden;
      margin: 2rem 0 -3rem 0;
      height: 5rem;
      padding: 2rem;
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      position: relative;

      &--icon {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 3rem;
      }
    }

    &__details {
      background-color: $Navy-900;
      padding: 1.5rem;
      border-radius: 1rem;
      margin-top: -2rem;
      z-index: 2;
      position: relative;
      width: 100%;
      height: 8rem; 

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 1024px) {
        padding: 2rem;
        height: 10rem;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--img {
        width: auto;
        height: 0.3rem;
      }
    }

    &__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--values {
        font-size: 2rem;
        font-weight: 300;
      }

      &--span {
        font-size: 0.7rem;
        color: rgba($Navy-200, 0.5);
        margin-top: 0.9rem;
      }
      @media (min-width:1024px) {
        flex-direction: column;
        &--values {
          font-size: 2.5rem;
        }
         &--span {
          font-size: 0.8rem;
        }
      }
    }

    @media (min-width:1024px){
      &__img {
        &--icon {
            width: 3.5rem;
        }
      }
    }
  }
}

/* Couleur de fond pour chaque activité */
.activity.work .activity__img {
  background-color: $Orange-work;
}

.activity.play .activity__img {
  background-color: $Blue-play;
}

.activity.study .activity__img {
  background-color: $Pink-study;
}

.activity.exercise .activity__img {
  background-color: $Green-exercise;
}

.activity.social .activity__img {
  background-color: $Purple-700-social;
}

.activity.self-care .activity__img {
  background-color: $Yellow-self-care;
}