@use '../base/variables' as *;
//footer
.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: 3rem;
  a { 
    color: $Blue-play;
    text-decoration: none;
    &:hover{
    color: $Pink-study;
    text-decoration: underline;
   }
   }
}