@use "../base/variables" as *; // Import variables


/*style class user*/
.user {
  margin-top: 2rem;
  background-color: $Purple-600;
  padding: 2rem;
  border-radius: 1rem;
  width: 70%;
  z-index: 2;

  &__photo {
    width: 18%;
    height: 18%;
    border: 0.2rem solid $Navy-200;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
  }

  &__label {
    font-size: 0.8rem;
    color: rgba($color: $Navy-200, $alpha: .7);
  }

  &__name {
      font-size: 4vw;
  }
  
  /*Ecran a dessus de 1024px*/
  @media (min-width: 1024px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: auto;
    margin: 5rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__photo {
      width: 5rem;
      height: 5rem;
    }

    &__label {
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }
}
