@use "variables" as *; // Import variables


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//style du corps de page
body{
  font-family: "Rubik", sans-serif;
  color: $Navy-200;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: $Navy-950;
  font-size: 1rem;
}